// --------------------Sect1

//les sections
.sect1 {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.sect2 {
  width: 100%;
  height: auto;
  margin-bottom: 150px;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );

  .section-blog-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    transform: scale(1.4);
    filter: blur(3px);
  }
}

.sect3 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}
