// --------------------Sect1


//les sections
.sect1{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.sect2{
    width: 100%;
    height: auto;
    margin-bottom: 150px;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.9) 100%);

    .section-blog-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
        transform: scale(1.4);
        filter: blur(3px);
    }
}

.sect3{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}




.section-1-blok {

    h3 {
        text-transform: uppercase;
        color: #333;
        margin-bottom: 50px;
    }

    p {
        max-width: 900px;
        margin: 0 auto;
        text-align: justify;
        margin-bottom: 17px;
    }

    Button {
        background-color: #333;
        color: #fff;
        margin-top: 20px;

        .more-icon {
            margin-right: 10px;
        }

        &:hover {
            color: #333;
            box-shadow: 0 0 10px 0px rgba(51, 51, 51, 0.344);
        }
    }
}

// // -------------------Sect2

.blok-left {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0 10px;

    h3 {
        font-size: 2.3em;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-weight: 600;
        text-align: left;
    }

    p {
        font-size: 1em;
        font-weight: 400;
    }

    .sec2-btn {
        background-color: rgba(51, 51, 51, 0.72);
        border-radius: 20px;
        color: #fff;
        font-weight: 600;
        transition: all 0.5s;
        border: 1px solid transparent;

        &:hover {
            background-color: transparent;
            border: 1px solid #fff;
        }
    }
}

.blok-right {
    display: flex;
    height: 350px;
    z-index: 99;

    .blok-right-img {
        width: 80%;
        height: 100%;
        position: relative;
        border-radius: 15px;
        overflow: hidden;
        margin-right: 10px;
        box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.501);

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }

    .blok-right-categories {
        height: auto;
        width: 45px;
        border-radius: 20px;
        overflow: hidden;

        ul {
            list-style: none;
            padding: 0;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.597);

            li {
                background-color: transparent;
                width: 50px;
                height: 50px;
                margin-bottom: 2px;
                cursor: pointer;
                color: #fff;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

// // ------------------Sect3

.block-sect2 {

    .block-sect2-icon {
        font-size: 50px;
        color: #333
    }

    h3 {
        font-size: 1.5em;
        font-weight: 600;
        color: #333;
    }

    p {
        font-weight: 400;
        font-size: 0.95em;
    }
}