.singleProduct-img-mere {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.singleProduct-img-filles {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;

  .singleProduct-img-fille {
    width: 25%;
    height: 100%;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// -----------------singleProduct-body
.singleProduct-body {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  // justify-content: center;

  h3 {
    font-size: 2.3em;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
  }

  .singleProduct-price {
    font-size: 1em;
    font-weight: 700;
    color: rgb(250, 30, 30);
    background-color: rgba(252, 62, 62, 0.248);
    border-radius: 20px;
    padding: 5px 10px;
  }

  p {
    font-size: 1em;
    margin: 1em 0;
    word-spacing: 1.5px;
  }

  .singleProduct-body-bottom {
    .singleProduct-body-icon {
      background-color: #333;
      color: #fff;
      margin-right: 20px;
      padding: 8px;
    }

    .singleProduct-body-btn {
      border: 1px solid #333;
      color: #333;
      font-weight: 700;
      border-radius: 20px;
      padding: 3px 10px;
    }
  }
}
